<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if form %}
        <h1>Hola cliente</h1>
        <form action="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="editar" value="editar">Guardar Cambios</button>
        </form>
    {% else %}
        <div> No se encontro informacion para el cliente solicitado</div>   
    {% endif %} 
</body>


</html>